@media only screen and (max-width: 600px) {
    .main-slider__title {
        font-size: 44px !important;
        line-height: 60px !important;
    }

    .thm-btn {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0;
        border-radius: 38px;
        padding: 15px 30px;

    }

    .main-slider__text {
        color: #A4A4A4;
        padding-bottom: 10px;
        font-size: 16px;
    }

    .main-slider__layer-one {
        display: none;
    }

    .about-section__title {
        padding-left: 38px;
    }

    .section-title__text h2 {
        font-size: 34px;
        line-height: 38px;
    }

    .about-section__left-box {
        margin-bottom: 20px;
    }

    .about-section__right {
        padding-left: 0;
        margin-top: 40px;
    }

    .about-section__right-box img {
        width: 100%;
    }

    .about-section__right-box-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .welcome-section__row .col-md-6 {
        margin-bottom: 20px;
    }

    .welcome-section__box-hover-state img {
        width: 100%;
    }

    .about-section__right-box-love-shape {
        top: 46px !important;
        left: 0ex !important;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

@media only screen and (max-width: 768px) {
    .main-slider__content {
        padding: 0 10px;
        text-align: center;
    }

    .main-slider__layer-one {
        display: none;
    }

    .slider__pagination {
        left: 50% !important;
        transform: translate(-50%, 0);
        width: fit-content !important;
    }

    /* .slider__pagination {
        left: 6% !important;
    } */

    .main-slider__title {
        font-size: 70px;
        line-height: 75px;
    }

    .about-section__right {
        padding-left: 0;
        margin-top: 40px;
    }

    .welcome-section .section-title__text {
        width: 100%;
    }

    .welcome-section .section-title__text h2 {}

    .welcome-section__row .col-md-6 {
        margin-bottom: 20px;
    }

    .about-section__right-box-info__detiles h3 {
        font-size: 30px
    }

    .about-section__right-box-info__detiles p {
        font-size: 16px;
    }

    .about-section__right-box-info {

        padding: 20px;
        width: 100%;
    }

    .about-section__right-box-info__people {

        gap: 42px;
        width: 85%;
    }

    .main-slider .image-layer {
        background-position: center;
    }

    .about-section__right-box-love-shape {
        top: 36px;
        left: -25px;
    }

    .about-section__right-box-love-shape img {
        width: 50%;
    }
}